.clubs-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  column-gap: 14px;
  row-gap: 18px;

  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 18px;
    color: #464444;
    background-color: var(--clr-neutral-100);
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    transition: all 0.2s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      color: var(--clr-neutral-100);
      background-color: var(--clr-primary);
    }

    img {
      position: absolute;
      top: 50%;
      left: 24px;
      transform: translateY(-50%);
    }
  }
}
