.table {
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;

  tr {
    height: 30px;

    td {
      height: 100%;
    }
  }

  thead {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-500);

    td {
      &:first-child {
        width: 30px;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 2px solid var(--clr-neutral-500);

      td {
        font-size: 14px;
        color: #686767;

        &:first-child {
          width: 30px;
          color: var(--clr-neutral-800);
          background-color: var(--clr-neutral-700);
        }
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        td {
          &:first-child {
            color: var(--clr-neutral-100);
            background-color: var(--clr-green-500);
          }
        }
      }

      &:nth-child(5) {
        td {
          &:first-child {
            color: var(--clr-neutral-100);
            background-color: var(--clr-green-200);
          }
        }
      }

      &:nth-child(17),
      &:nth-child(18),
      &:nth-child(19),
      &:nth-child(20) {
        td {
          &:first-child {
            color: var(--clr-neutral-100);
            background-color: var(--clr-red-900);
          }
        }
      }
    }
  }

  thead,
  tbody {
    td,
    th {
      &:nth-child(2) {
        padding-left: 20px;
      }

      &:not(:nth-child(2)) {
        width: 30px;
      }
    }
  }

  th,
  td {
    padding-inline: 0.6em;
    text-align: left;
  }

  tfoot {
    td {
      padding: 0;
    }
  }

  button {
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary);
  }
}

.table-lg {
  width: 100%;
  border-collapse: collapse;

  tbody {
    tr {
      background-color: var(--clr-neutral-100);
    }
  }
}

.table-heading {
  margin-bottom: 20px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: repeat(7, 63px);

  column-gap: 16px;
  justify-content: end;

  div {
    font-size: 16px;
    font-weight: 300;
    color: #686767;
    text-align: center;
  }
}

.table-main {
  padding: 24px 0;
  border-radius: 3px;
  background-color: var(--clr-neutral-100);

  li {
    padding-inline: 30px;
    padding-block: 5px;
    display: grid;
    grid-template-columns: 30px 30px 1fr repeat(7, 63px);
    column-gap: 16px;

    font-size: 22px;
    font-weight: 400;
    color: #686767;
    text-align: center;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: hsl(0 0% 38% / 0.11);
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      div {
        &:nth-child(1) {
          background-color: var(--clr-green-500);
          color: var(--clr-neutral-100);
        }
      }
    }

    &:nth-child(5) {
      div {
        &:nth-child(1) {
          background-color: var(--clr-green-200);
          color: var(--clr-neutral-100);
        }
      }
    }

    &:nth-child(17),
    &:nth-child(18),
    &:nth-child(19),
    &:nth-child(20) {
      div {
        &:nth-child(1) {
          background-color: var(--clr-red-900);
          color: var(--clr-neutral-100);
        }
      }
    }

    div {
      &:nth-child(1) {
        background-color: #aaa4a4;
      }

      &:nth-child(3) {
        text-align: left;
      }

      &:nth-child(5),
      &:last-child {
        font-weight: 700;
      }
    }
  }
}
