.card {
  &--media {
    cursor: pointer;
  }

  &--media,
  a {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__image {
    &--video {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: hsl(227 24% 11% / 0.32);
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 93px;
        height: 65px;
        background: no-repeat url(../images/yt-logo.svg);
      }
    }

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 14px;
    color: var(--clr-neutral-900);
  }

  &__date {
    font-weight: 300;
    color: var(--clr-neutral-300);
  }
}
