.matches {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & > time {
    margin-bottom: 14px;
    display: block;
    font-size: 17px;
    text-align: right;
  }
}

.match {
  position: relative;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: var(--clr-neutral-100);

  @media only screen and (min-width: 992px) {
    flex-direction: row;
    justify-content: center;
    padding-inline: 20px;
  }

  .team {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    @media only screen and (min-width: 992px) {
      justify-content: flex-end;
      flex-direction: row;
    }

    &:last-child {
      justify-content: flex-start;
      flex-direction: row;
    }

    p {
      font-size: 18px;
      color: #464444;
    }
  }

  .result {
    width: 50px;
    height: 44px;
    display: grid;
    place-content: center;
    font-family: var(--ff-heading);
    font-size: 34px;
    color: var(--clr-neutral-900);
    background-color: #e9ebed;
  }

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;

    @media only screen and (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__info {
    text-align: left;
    width: 100%;

    @media only screen and (min-width: 680px) {
      text-align: right;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    p {
      font-size: 14px;
      font-weight: 300;
      color: var(--clr-neutral-900);
    }
  }
}
