.site-nav {
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  overflow: hidden;

  position: absolute;
  top: 57px;
  left: 0;

  width: 100%;
  background-color: var(--clr-secondary);
  z-index: 10;
  transition: all 0.2s ease-in-out;

  &.active {
    transform: scaleY(1);
    opacity: 1;
  }

  @media only screen and (min-width: 1200px) {
    position: relative;
    background-color: unset;
    top: unset;
    left: unset;
    transform: unset;
    opacity: unset;
  }

  ul {
    @media only screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }

    & > div {
      @media only screen and (min-width: 1200px) {
        display: flex;
        gap: 20px;
      }
    }
  }

  a {
    font-family: var(--ff-heading);
    font-size: 18px;
    font-weight: 400;
    color: var(--clr-accent);
    text-transform: uppercase;
    display: block;
    padding-block: 10px;
    text-align: center;
    position: relative;

    @media only screen and (min-width: 1200px) {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: var(--clr-primary);
        transition: all 0.2s ease-in-out;
      }

      &:hover,
      &.active {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.social-links {
  display: flex;
  gap: 20px;

  @media only screen and (min-width: 1366px) {
    gap: 12px;
  }

  svg {
    display: block;
  }
}

.secondary-nav {
  margin-block: 20px;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;

    @media only screen and (min-width: 680px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (min-width: 1200px) {
      grid-template-columns: repeat(5, 1fr);
    }

    li {
      &:nth-child(3) {
        @media only screen and (min-width: 1200px) {
          grid-column: 4 / 5;
        }
      }
    }
  }
}

.link-with-bg {
  display: grid;
  place-content: center;
  padding: 1em;

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;

  &:nth-child(1) {
    background-image: url(../images/shedegebi.jpg);
  }

  &:nth-child(2) {
    background-image: url(../images/cxrilebi.jpg);
  }

  &:nth-child(3) {
    background-image: url(../images/kalendari.jpg);
  }

  &:nth-child(4) {
    background-image: url(../images/klubebi.jpg);
  }

  a {
    font-family: var(--ff-body);
    font-size: 21px;
    color: var(--clr-neutral-100);
    transition: color 0.15s ease-in-out;

    &.active {
      color: var(--clr-accent);
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--clr-accent);
    }
  }
}
