@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.photo-gallery-modal {
  --clr-bg: 219 65% 8%;
  --clr-neutral-100: 0 0% 100%;
  --clr-hover: 0 53% 58%;
  position: fixed;
  inset: 0;
  padding: 34px 8px;
  background: hsl(var(--clr-bg));
  z-index: 1000000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.photo-gallery-modal.active {
  display: flex;
}
.photo-gallery-modal img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.photo-gallery-modal__displayed-img {
  flex-grow: 1;
}
.photo-gallery-modal [data-main-image] {
  max-width: 800px;
}
.photo-gallery-modal [data-images] {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  column-gap: 0.5em;
}
@media only screen and (max-width: 532px) {
  .photo-gallery-modal [data-images] {
    overflow-x: scroll;
    max-width: 100%;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .photo-gallery-modal [data-images]::-webkit-scrollbar {
    height: 6px;
  }
  .photo-gallery-modal [data-images]::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .photo-gallery-modal [data-images]::-webkit-scrollbar-thumb {
    background: #ffbf36;
  }
  .photo-gallery-modal [data-images]::-webkit-scrollbar-thumb:hover {
    background: #ffcd61;
  }
}
.photo-gallery-modal [data-images].hide {
  display: none;
}
.photo-gallery-modal [data-images] img {
  cursor: pointer;
}
.photo-gallery-modal button[role=button] {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.photo-gallery-modal svg {
  display: block;
}
.photo-gallery-modal__controls {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid hsl(var(--clr-neutral-100));
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 0.5em 0.85em;
}
.photo-gallery-modal__controls [data-fullscreen] svg {
  display: block;
  width: 15px;
  height: 11px;
  stroke: hsl(var(--clr-neutral-100));
  transition: stroke 150ms ease-in-out;
}
.photo-gallery-modal__controls [data-fullscreen] svg:hover {
  stroke: hsl(var(--clr-hover));
}
.photo-gallery-modal__controls [data-toggle-gallery] svg {
  display: block;
  width: 14px;
  height: 14px;
  fill: hsl(var(--clr-neutral-100));
  transition: fill 150ms ease-in-out;
}
.photo-gallery-modal__controls [data-toggle-gallery] svg:hover {
  fill: hsl(var(--clr-hover));
}
.photo-gallery-modal__controls [data-close] svg {
  display: block;
  width: 14px;
  height: 14px;
  stroke: hsl(var(--clr-neutral-100));
  stroke-width: 1px;
  transition: stroke 150ms ease-in-out;
}
.photo-gallery-modal__controls [data-close] svg:hover {
  stroke: hsl(var(--clr-hover));
}
.photo-gallery-modal__arrows {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.photo-gallery-modal__arrows button[role=button] {
  position: absolute;
  display: grid;
  place-content: center;
  border: 1px solid hsl(var(--clr-neutral-100));
  width: 35px;
  height: 35px;
  transition: border-color 150ms ease-in-out;
}
.photo-gallery-modal__arrows button[role=button]:hover {
  border-color: hsl(var(--clr-hover));
}
.photo-gallery-modal__arrows button[role=button]:hover svg {
  fill: hsl(var(--clr-hover));
}
.photo-gallery-modal__arrows [data-next] svg,
.photo-gallery-modal__arrows [data-prev] svg {
  display: block;
  width: 12px;
  height: 12px;
  fill: hsl(var(--clr-neutral-100));
  transition: fill 150ms ease-in-out;
}
.photo-gallery-modal__arrows [data-next] {
  right: 0;
}

@font-face {
  font-family: "BPG ExtraSquare Mtavruli";
  src: url("../fonts/BPGExtraSquareMtavruli.woff2") format("woff2"), url("../fonts/BPGExtraSquareMtavruli.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Regular.woff2") format("woff2"), url("../fonts/FiraGO-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-SemiBold.woff2") format("woff2"), url("../fonts/FiraGO-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Light.woff2") format("woff2"), url("../fonts/FiraGO-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Bold.woff2") format("woff2"), url("../fonts/FiraGO-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --clr-primary: #62c3a4;
  --clr-secondary: #1a3f5c;
  --clr-accent: #f5e198;
  --clr-green-500: #5eb876;
  --clr-green-200: #98e6ad;
  --clr-red-900: #f22929;
  --clr-neutral-900: #000;
  --clr-neutral-800: #171515;
  --clr-neutral-700: #aaa4a4;
  --clr-neutral-500: #cecbcb;
  --clr-neutral-400: #b8b2b2;
  --clr-neutral-300: #b5b2b2;
  --clr-neutral-200: #f7f8f9;
  --clr-neutral-100: #fff;
  --ff-heading: "BPG ExtraSquare Mtavruli", sans-serif;
  --ff-body: "FiraGO", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  font-size: 16px;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body.gray {
  background-color: #f4f5f6;
}
body.gray .section__title::after,
body.gray .page-title::after {
  background-color: rgba(148, 151, 153, 0.26);
}
body.gray .section__title span,
body.gray .page-title span {
  background-color: #f4f5f6;
}

main {
  margin-top: 30px;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding-inline: 15px;
}
@media only screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.page-title {
  margin-bottom: 15px;
  position: relative;
  font-family: var(--ff-heading);
  font-size: 20px;
  font-weight: 400;
  color: var(--clr-neutral-900);
}
@media only screen and (min-width: 1366px) {
  .page-title {
    font-size: 24px;
  }
}
.page-title span {
  position: relative;
  display: inline-block;
  background-color: var(--clr-neutral-100);
  padding-right: 25px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .page-title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #95989a;
  }
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
}
@media only screen and (min-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    justify-content: center;
    column-gap: 18px;
  }
}

.league-table {
  width: 100%;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .league-table {
    padding-right: 0;
  }
}

.leagues {
  margin-inline: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(298px, 1fr));
  justify-content: center;
  gap: 24px;
}
@media only screen and (min-width: 992px) {
  .leagues {
    margin-inline: auto;
    max-width: 973px;
  }
}
.leagues li {
  background-color: var(--clr-secondary);
  border-radius: 5px;
}
.leagues li a {
  height: 44px;
  display: grid;
  place-content: center;
  font-family: var(--ff-heading);
  font-size: 15px;
  color: var(--clr-neutral-100);
}
.leagues li a.active {
  color: var(--clr-accent);
}

@media only screen and (min-width: 992px) {
  .hero .container {
    display: flex;
  }
}

.live {
  position: relative;
}
.live::after {
  content: "•Live";
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 4px 2px 8px;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  background-color: var(--clr-red-900);
  border-radius: 3px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.texts p {
  font-family: var(--ff-body);
  font-size: 18px;
  color: var(--clr-neutral-900);
}

.youtube {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

#map {
  margin-block: 30px;
  width: 100%;
  height: 380px;
}

.documents {
  min-height: 60vh;
}

.mt-md {
  margin-top: 30px;
}

.mb-lg {
  margin-bottom: 60px;
}

.article__heading {
  margin-bottom: 20px;
}
.article__title {
  font-size: 22px;
  font-weight: 600;
  color: var(--clr-neutral-900);
}
.article__social {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.article__social a {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  background-color: #b5b2b2;
  border-radius: 24px;
  transition: background-color 150ms ease-in-out;
}
.article__social a:hover {
  background-color: var(--clr-neutral-700);
}
.article__social svg {
  color: var(--clr-neutral-100);
}
.article__image {
  margin-bottom: 24px;
  position: relative;
}
.article__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.article__image time {
  position: absolute;
  right: 22px;
  bottom: 18px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.article__image time span {
  font-family: var(--ff-body);
  font-size: 15px;
  font-weight: 300;
  color: var(--clr-neutral-100);
}
.article__image time svg {
  display: block;
  fill: var(--clr-neutral-100);
}
.article .texts p {
  font-size: 16px;
  font-weight: 300;
}
.article__footer {
  margin-top: 50px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e8e7e7;
}
.article__footer p,
.article__footer span {
  font-size: 17px;
  font-weight: 300;
  color: #b5b2b2;
}
.article__views {
  display: flex;
  align-items: center;
  gap: 8px;
}
.article__views svg {
  display: block;
  fill: #b5b2b2;
}

.news-wrapper {
  margin-bottom: 72px;
  display: flex;
  gap: 28px;
}
@media only screen and (max-width: 992px) {
  .news-wrapper .league-table {
    display: none;
  }
}

.breadcrumbs {
  padding-block: 14px;
  background-color: #e6e6e6;
}
.breadcrumbs .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__title {
  font-family: var(--ff-heading);
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-secondary);
}
.breadcrumbs ul {
  display: flex;
  align-items: center;
}
.breadcrumbs__home {
  display: flex !important;
  align-items: center;
  gap: 4px;
}
.breadcrumbs__home span {
  color: var(--clr-secondary);
}
.breadcrumbs a {
  display: block;
  font-size: 14px;
  color: var(--clr-main);
}
.breadcrumbs a.active {
  position: relative;
  color: #62c3a4;
  padding-left: 10px;
  margin-left: 14px;
}
.breadcrumbs a.active::before {
  content: "/";
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  color: #62c3a4;
}

.btn-primary {
  border-radius: 0 0 3px 3px;
  width: 100%;
  height: 40px;
  font-family: var(--ff-heading);
  font-size: 18px;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary);
}

.btn {
  position: relative;
  font-family: var(--ff-body);
}
.btn--outline {
  padding: 16px 60px;
  font-size: 14px;
  font-weight: 300;
  color: #62c3a4;
  border: 1px solid rgba(166, 166, 166, 0.91);
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}
.btn--outline::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #62c3a4;
  height: 0%;
  z-index: -1;
  transition: height 150ms ease-in-out;
}
.btn--outline:hover {
  color: var(--clr-neutral-100);
  border-color: #62c3a4;
}
.btn--outline:hover::before {
  height: 100%;
}

.btn-container {
  display: flex;
}
.btn-container--center {
  justify-content: center;
}

.card--media {
  cursor: pointer;
}
.card--media,
.card a {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__image--video {
  position: relative;
}
.card__image--video::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(21, 24, 35, 0.32);
}
.card__image--video::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93px;
  height: 65px;
  background: no-repeat url(../images/yt-logo.svg);
}
.card__image img {
  width: 100%;
  object-fit: cover;
}
.card__title {
  font-size: 14px;
  color: var(--clr-neutral-900);
}
.card__date {
  font-weight: 300;
  color: var(--clr-neutral-300);
}

.address {
  margin-bottom: 38px;
  font-style: normal;
}
.address ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 45px;
  row-gap: 45px;
}
.address li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 12px 12px 12px;
  background-color: var(--clr-neutral-100);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.address__title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: var(--ff-body);
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-secondary);
}
.address p,
.address a {
  font-size: 16px;
  font-weight: 300;
  color: var(--clr-secondary);
  text-align: center;
}
.address a {
  transition: color 0.15s ease-in-out;
}
.address a:hover,
.address a:active {
  color: var(--clr-primary);
}
.address .icon {
  width: 74px;
  height: 74px;
  display: grid;
  place-content: center;
  border-radius: 74px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.address .icon svg {
  display: block;
}

.form__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-secondary);
  text-align: center;
}
.form__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 45px;
  row-gap: 35px;
}
.form input {
  padding-inline: 22px;
  height: 46px;
}
.form textarea {
  padding: 16px 22px;
  margin-top: 35px;
  width: 100%;
  height: 220px;
}
.form input,
.form textarea {
  font-size: 18px;
  font-weight: 300;
  color: var(--clr-secondary);
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.form input:focus,
.form textarea:focus {
  outline-color: var(--clr-primary);
}
.form input::placeholder,
.form textarea::placeholder {
  font-family: var(--ff-body);
  font-size: 18px;
  font-weight: 300;
  color: var(--clr-secondary);
}
.form button[type=submit] {
  display: block;
  margin-left: auto;
  margin-top: 25px;
  width: 166px;
  height: 40px;
  font-family: inherit;
  font-size: 18px;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary);
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.choose-season {
  position: relative;
  max-width: 240px;
  margin-left: auto;
  padding: 20px;
  margin-bottom: -20px;
}
.choose-season.open {
  border-radius: 5px 5px 0 0;
  background-color: var(--clr-neutral-100);
}
.choose-season.open .choose-season__content {
  transform: scaleY(1);
  opacity: 1;
}
.choose-season button {
  display: flex;
  align-items: center;
  gap: 16px;
}
.choose-season button span {
  font-family: var(--ff-heading);
  font-size: 16px;
  font-weight: 400;
  color: var(--clr-neutral-900);
}
.choose-season__content {
  position: absolute;
  z-index: 20;
  top: 40px;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-heading);
  font-size: 16px;
  font-weight: 400;
  color: var(--clr-neutral-900);
  border-radius: 0 0 5px 5px;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: all 150ms ease-in-out;
}
.choose-season__content li {
  padding: 8px 0;
  cursor: pointer;
}

.choose-league {
  margin-bottom: 6px;
  max-height: 45px;
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  background-color: var(--clr-secondary);
  overflow: hidden;
}
.choose-league.open {
  max-height: 1000px;
}
.choose-league button {
  position: relative;
  width: 100%;
  height: 45px;
}
.choose-league button svg {
  position: absolute;
  top: 8px;
  right: 33px;
  width: 14px;
  fill: var(--clr-accent);
}
.choose-league button,
.choose-league li {
  padding-block: 13px;
  font-size: 16px;
  font-weight: 300;
  color: var(--clr-accent);
  text-align: center;
}

.site-footer__nav {
  background-color: var(--clr-primary);
  padding-inline: 15px;
}
.site-footer__nav ul {
  padding-block: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .site-footer__nav ul {
    flex-direction: row;
    justify-content: center;
  }
}
.site-footer__nav a {
  font-family: var(--ff-body);
  font-size: 14px;
  color: var(--clr-neutral-100);
}
.site-footer__nav a:hover, .site-footer__nav a:active {
  color: var(--clr-accent);
}
.site-footer__wrapper {
  padding-block: 20px;
  background-color: var(--clr-secondary);
}
.site-footer__wrapper .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .site-footer__wrapper .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.site-footer__logo img {
  max-width: 232px;
  height: auto;
  margin: 0 auto;
}
.site-footer__disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--clr-neutral-100);
}
@media only screen and (min-width: 768px) {
  .site-footer__disclaimer {
    align-items: flex-end;
  }
}
.site-footer__disclaimer a {
  color: inherit;
  transition: all 150ms ease-in-out;
}
.site-footer__disclaimer a:hover {
  color: var(--clr-primary);
}
.site-footer .social-links {
  justify-content: center;
}

.site-header__nav-wrapper {
  background-color: var(--clr-secondary);
}
.site-header__nav-wrapper .container {
  position: relative;
  margin-bottom: 50px;
  padding-block: 10px;
  padding-inline: 15px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  .site-header__nav-wrapper .container {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .site-header__nav-wrapper .container {
    margin-bottom: 0;
    padding-inline: 0;
  }
}

.top-bar {
  position: relative;
}
.top-bar .container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .top-bar .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.top-bar .container > a {
  padding-block: 5px;
  font-family: var(--ff-body);
  font-size: 16px;
  color: var(--clr-neutral-800);
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .top-bar .container > a {
    color: var(--clr-neutral-100);
  }
  .top-bar .container > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 700px;
    background-color: var(--clr-primary);
    z-index: -1;
    clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
  }
}
.top-bar .container > a span {
  font-weight: 500;
}
.top-bar ul {
  justify-content: center;
  padding-block: 5px;
}

.nav-control-btn {
  margin-left: auto;
  margin-right: 20px;
}
@media only screen and (min-width: 1200px) {
  .nav-control-btn {
    display: none;
  }
}
.nav-control-btn svg {
  width: 35px;
  height: 35px;
  fill: var(--clr-neutral-100);
}

@media only screen and (min-width: 1200px) {
  .search-control-btn {
    margin-left: 20px;
  }
}
.search-control-btn svg {
  width: 24px;
  height: 24px;
  fill: var(--clr-neutral-100);
}

.logo {
  position: absolute;
  left: 15px;
  top: 0;
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  z-index: 20;
}
@media only screen and (min-width: 1200px) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
    height: 135px;
    width: 160px;
  }
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.2);
}
@media only screen and (min-width: 992px) {
  .logo img {
    transform: scale(1);
  }
}

.header-search-box {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scaleX(0);
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--clr-primary);
  border-radius: 0 0 3px 3px;
  z-index: 10;
  transition: transform 0.2s ease-in-out;
  transform-origin: right;
  z-index: 1000;
}
.header-search-box.active {
  transform: translateY(-50%) scaleX(1);
}
.header-search-box form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-search-box input {
  flex-grow: 1;
  font-family: inherit;
  font-size: 16px;
  color: var(--clr-neutral-800);
  border: none;
  border-radius: 30px;
  padding: 10px;
}
.header-search-box button svg {
  width: 24px;
  height: 24px;
  fill: var(--clr-neutral-900);
}

.leaders {
  max-width: 376px;
}
.leaders h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--clr-neutral-100);
}
.leaders__heading {
  display: flex;
  justify-content: space-between;
}
.leaders__top {
  padding-top: 12px;
  padding-inline: 20px;
  padding-bottom: 10px;
  background-color: var(--clr-primary);
}
.leaders__top figure {
  width: 110px;
  height: 110px;
  border-radius: 110px;
  overflow: hidden;
  background-color: var(--clr-neutral-100);
}
.leaders__top figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.leaders table {
  width: 100%;
  border-collapse: collapse;
}
.leaders table tr {
  background-color: #f7f8f9;
  border-bottom: 2px solid var(--clr-neutral-100);
}
.leaders table td {
  padding-block: 10px;
  font-size: 16px;
}
.leaders table td:nth-child(1) {
  padding-left: 20px;
}
.leaders table td:last-child {
  padding-right: 20px;
  text-align: center;
}
.leaders table td:not(:nth-child(2)) {
  padding-right: 10px;
}
.leaders table img {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  object-fit: cover;
}
.leaders .featured {
  margin-top: 24px;
  position: relative;
  color: var(--clr-neutral-100);
  display: grid;
  grid-template-columns: 33px auto 33px;
  align-items: center;
}
.leaders .featured__club {
  position: absolute;
  top: -22px;
  left: 10px;
}
.leaders .featured .count {
  text-align: center;
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0.36);
}

.leaders-grid {
  display: grid;
  grid-template-columns: 376px;
  justify-content: center;
  row-gap: 30px;
}
@media only screen and (min-width: 992px) {
  .leaders-grid {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: unset;
    column-gap: 20px;
  }
}

.matches:not(:last-of-type) {
  margin-bottom: 30px;
}
.matches__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.matches > time {
  margin-bottom: 14px;
  display: block;
  font-size: 17px;
  text-align: right;
}

.match {
  position: relative;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--clr-neutral-100);
}
@media only screen and (min-width: 992px) {
  .match {
    flex-direction: row;
    justify-content: center;
    padding-inline: 20px;
  }
}
.match .team {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 992px) {
  .match .team {
    justify-content: flex-end;
    flex-direction: row;
  }
}
.match .team:last-child {
  justify-content: flex-start;
  flex-direction: row;
}
.match .team p {
  font-size: 18px;
  color: #464444;
}
.match .result {
  width: 50px;
  height: 44px;
  display: grid;
  place-content: center;
  font-family: var(--ff-heading);
  font-size: 34px;
  color: var(--clr-neutral-900);
  background-color: #e9ebed;
}
.match__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}
@media only screen and (min-width: 992px) {
  .match__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
.match__info {
  text-align: left;
  width: 100%;
}
@media only screen and (min-width: 680px) {
  .match__info {
    text-align: right;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.match__info p {
  font-size: 14px;
  font-weight: 300;
  color: var(--clr-neutral-900);
}

.site-nav {
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  background-color: var(--clr-secondary);
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
.site-nav.active {
  transform: scaleY(1);
  opacity: 1;
}
@media only screen and (min-width: 1200px) {
  .site-nav {
    position: relative;
    background-color: unset;
    top: unset;
    left: unset;
    transform: unset;
    opacity: unset;
  }
}
@media only screen and (min-width: 1200px) {
  .site-nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .site-nav ul > div {
    display: flex;
    gap: 20px;
  }
}
.site-nav a {
  font-family: var(--ff-heading);
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-accent);
  text-transform: uppercase;
  display: block;
  padding-block: 10px;
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .site-nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: var(--clr-primary);
    transition: all 0.2s ease-in-out;
  }
  .site-nav a:hover::after, .site-nav a.active::after {
    width: 100%;
  }
}

.social-links {
  display: flex;
  gap: 20px;
}
@media only screen and (min-width: 1366px) {
  .social-links {
    gap: 12px;
  }
}
.social-links svg {
  display: block;
}

.secondary-nav {
  margin-block: 20px;
}
.secondary-nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}
@media only screen and (min-width: 680px) {
  .secondary-nav ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .secondary-nav ul {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .secondary-nav ul li:nth-child(3) {
    grid-column: 4/5;
  }
}

.link-with-bg {
  display: grid;
  place-content: center;
  padding: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.link-with-bg:nth-child(1) {
  background-image: url(../images/shedegebi.jpg);
}
.link-with-bg:nth-child(2) {
  background-image: url(../images/cxrilebi.jpg);
}
.link-with-bg:nth-child(3) {
  background-image: url(../images/kalendari.jpg);
}
.link-with-bg:nth-child(4) {
  background-image: url(../images/klubebi.jpg);
}
.link-with-bg a {
  font-family: var(--ff-body);
  font-size: 21px;
  color: var(--clr-neutral-100);
  transition: color 0.15s ease-in-out;
}
.link-with-bg a.active {
  color: var(--clr-accent);
}
.link-with-bg a:hover, .link-with-bg a:active, .link-with-bg a:focus {
  color: var(--clr-accent);
}

.schedule {
  margin-block: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule__title {
  margin-bottom: 11px;
  font-family: var(--ff-heading);
  font-size: 20px;
  color: var(--clr-neutral-900);
  text-align: center;
}
.schedule__list {
  min-width: 80%;
  max-width: 496px;
}
.schedule__list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.schedule__list li:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eceaea;
}
.schedule__list time {
  font-size: 18px;
  font-weight: 700;
  color: var(--clr-secondary);
}
.schedule button {
  margin-top: 17px;
  padding: 5px 35px;
  color: var(--clr-neutral-100);
  border: none;
  border-radius: 5px;
  background-color: var(--clr-primary);
}

.sponsors {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 86px;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .sponsors {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .sponsors {
    grid-template-columns: repeat(6, 1fr);
  }
}
.sponsors figure {
  display: grid;
  place-content: center;
  background-color: rgba(184, 178, 178, 0.12);
  border-radius: 5px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  background-color: var(--clr-neutral-700);
  border-radius: 35px;
  z-index: 10;
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--clr-neutral-100);
}

@media only screen and (min-width: 768px) {
  .slick-slide {
    margin-inline: 9px;
  }
}

@media only screen and (min-width: 768px) {
  .slick-list {
    margin-inline: -9px;
  }
}

@media only screen and (min-width: 992px) {
  .hero-slider {
    max-width: 700px;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-slider {
    max-width: 796px;
    margin-left: 0;
  }
}
.hero-slider img {
  width: 100%;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
}
.table--lg {
  width: 100%;
  max-width: unset;
}
.table--lg thead {
  background-color: transparent !important;
  margin-bottom: 10px;
}
.table--lg thead th {
  color: #686767 !important;
  font-weight: 300 !important;
  text-align: center !important;
}
.table--lg tbody {
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.table--lg tbody tr {
  height: 40px !important;
  border-bottom: none !important;
  padding-block: 5px !important;
}
.table--lg tbody tr:hover {
  background-color: rgba(97, 97, 97, 0.11);
}
.table--lg tbody tr:nth-child(1) {
  border-radius: 3px 3px 0 0;
}
.table--lg tbody td {
  text-align: center;
}
.table--lg tbody td:nth-child(2) {
  width: 50px !important;
  margin-left: 20px !important;
}
.table--lg tbody td:nth-child(2) img {
  width: 30px !important;
  height: 30px !important;
  object-fit: cover;
}
.table--lg tbody td:nth-child(3) {
  text-align: left;
  width: 200px !important;
}
.table tr {
  height: 30px;
}
.table tr td {
  height: 100%;
}
.table thead {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-500);
}
.table thead td:first-child {
  width: 30px;
}
.table tbody tr {
  border-bottom: 2px solid var(--clr-neutral-500);
}
.table tbody tr td {
  font-size: 14px;
  color: #686767;
}
.table tbody tr td:first-child {
  width: 30px;
  color: var(--clr-neutral-800);
  background-color: var(--clr-neutral-700);
}
.table tbody tr:nth-child(1) td:first-child, .table tbody tr:nth-child(2) td:first-child, .table tbody tr:nth-child(3) td:first-child, .table tbody tr:nth-child(4) td:first-child {
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-500);
}
.table tbody tr:nth-child(5) td:first-child {
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-200);
}
.table tbody tr:nth-child(17) td:first-child, .table tbody tr:nth-child(18) td:first-child, .table tbody tr:nth-child(19) td:first-child, .table tbody tr:nth-child(20) td:first-child {
  color: var(--clr-neutral-100);
  background-color: var(--clr-red-900);
}
.table thead td:nth-child(2),
.table thead th:nth-child(2),
.table tbody td:nth-child(2),
.table tbody th:nth-child(2) {
  padding-left: 20px;
}
.table thead td:not(:nth-child(2)),
.table thead th:not(:nth-child(2)),
.table tbody td:not(:nth-child(2)),
.table tbody th:not(:nth-child(2)) {
  width: 30px;
}
.table th,
.table td {
  padding-inline: 0.6em;
  text-align: left;
}
.table tfoot td {
  padding: 0;
}
.table button {
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary);
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  background-color: var(--clr-neutral-100);
  padding-bottom: 30px;
  border-radius: 3px;
}
.table-responsive--sm {
  padding-bottom: 0;
}

.league-tb {
  width: 100%;
  border-collapse: collapse;
}
.league-tb--sm tbody tr:nth-child(1) {
  display: none;
}
.league-tb--sm .tb-team span {
  font-size: 16px !important;
}
.league-tb--sm .tb-cell {
  font-size: 16px !important;
}
.league-tb thead {
  background-color: #f4f5f6;
}
.league-tb thead th {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #686767;
}
.league-tb tbody tr {
  margin-block: 5px;
  height: 40px;
}
.league-tb tbody tr:hover {
  background-color: rgba(97, 97, 97, 0.11);
}
.league-tb tbody tr:nth-child(1) {
  height: 30px;
}
.league-tb tbody tr:nth-child(2) .tb-pos div, .league-tb tbody tr:nth-child(3) .tb-pos div, .league-tb tbody tr:nth-child(4) .tb-pos div, .league-tb tbody tr:nth-child(5) .tb-pos div {
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-500);
}
.league-tb tbody tr:nth-child(6) .tb-pos div {
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-200);
}
.league-tb tbody tr:nth-child(18) .tb-pos div, .league-tb tbody tr:nth-child(19) .tb-pos div, .league-tb tbody tr:nth-child(20) .tb-pos div, .league-tb tbody tr:nth-child(21) .tb-pos div {
  color: var(--clr-neutral-100);
  background-color: var(--clr-red-900);
}
.league-tb .tb-pos {
  width: 30px;
  padding-left: 30px;
  padding-right: 17px;
}
.league-tb .tb-pos div {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  font-size: 14px;
  font-weight: 300;
  color: #171515;
  background-color: #aaa4a4;
}
.league-tb .tb-team {
  padding-right: 50px;
}
.league-tb .tb-team div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.league-tb .tb-team div img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.league-tb .tb-team div span {
  font-size: 22px;
  font-weight: 400;
  color: #686767;
}
.league-tb .tb-cell {
  width: 70px;
  font-size: 20px;
  text-align: center;
}
.league-tb .tb-bold {
  font-weight: 700;
}

.clubs-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  column-gap: 14px;
  row-gap: 18px;
}
@media only screen and (min-width: 1200px) {
  .clubs-list {
    justify-content: space-between;
    column-gap: unset;
  }
}
.clubs-list a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  font-size: 18px;
  color: #464444;
  background-color: var(--clr-neutral-100);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in-out;
}
.clubs-list a:hover, .clubs-list a:active, .clubs-list a:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary);
}
.clubs-list a img {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

@media only screen and (min-width: 1200px) {
  .club__hero {
    display: grid;
    grid-template-columns: 560px 1fr;
    column-gap: 37px;
  }
}
.club__hero figure {
  margin-top: 30px;
  width: 100%;
}

.section {
  margin-block: 35px;
}
.section__title {
  margin-bottom: 16px;
  position: relative;
  font-family: var(--ff-heading);
  font-size: 20px;
  font-weight: 400;
  color: var(--clr-neutral-900);
}
@media only screen and (min-width: 1200px) {
  .section__title {
    font-size: 24px;
  }
}
.section__title span {
  position: relative;
  display: inline-block;
  background-color: var(--clr-neutral-100);
  padding-right: 25px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .section__title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #95989a;
  }
}

/*# sourceMappingURL=style.css.map */
