:root {
  // colors
  --clr-primary: #62c3a4;
  --clr-secondary: #1a3f5c;
  --clr-accent: #f5e198;

  --clr-green-500: #5eb876;
  --clr-green-200: #98e6ad;

  --clr-red-900: #f22929;

  --clr-neutral-900: #000;
  --clr-neutral-800: #171515;
  --clr-neutral-700: #aaa4a4;
  --clr-neutral-500: #cecbcb;
  --clr-neutral-400: #b8b2b2;
  --clr-neutral-300: #b5b2b2;
  --clr-neutral-200: #f7f8f9;
  --clr-neutral-100: #fff;

  // font families
  --ff-heading: 'BPG ExtraSquare Mtavruli', sans-serif;
  --ff-body: 'FiraGO', sans-serif;
}

// Media queries
$mq-sm: 768px;
$mq-md: 992px;
$mq-lg: 1200px;
